node_modules/
.env
android/.gradle/
android/app/build/
ios/App/App/public/
ios/App/Pods/
ios/App/DerivedData/
dist/
.DS_Store
.npm-cache/
android/local.properties
www/runtime-config.json
ios/App/CapApp-SPM/build/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
